site_name: Unipod TurtleBot3 Waffle Pi Docs
site_description: Real-world TurtleBot3 setup documentation from the Unipod Lab
site_author: Unipod Lab

nav:
  - Home: index.md

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - content.code.copy

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight
